.footer {
    height: 50px;
    background-color: #5b5b5b;
}
.back-to-tops {
    /* display: none; */
    transform: rotate(180deg);
    width: 50px;
    height: 50px;
    margin: auto;
    padding: 10px;
    border: 2px solid #535353;
    border-radius: 50%;
}
.fWohKN {
    display: flex;
    justify-content: center;
    align-items: center;
}
.zalo {
    display: block;
    left: 30px;
    bottom: 120px;
    position: fixed;
    z-index: 8000;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    text-shadow: 1px 1px 0 #000;
    border-radius: 40px;
    cursor: pointer;
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    background: #009dff;
    display: flex;
    flex-direction: row;
}
.zalo img {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.zalo span {
    color: #ffffff;
    margin: 0 15px 0 5px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-weight: 600;
}
.zalo a {
    display: flex;
    text-decoration: none;
}
.hot-phone {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 8001;
}
@keyframes quick-alo-circle-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.5) skew(1deg);
        -webkit-opacity: 0.1;
    }
    30% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        -webkit-opacity: 0.5;
    }
    100% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        -webkit-opacity: 0.1;
    }
}
@keyframes quick-alo-circle-fill-anim {
    0% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
    50% {
        -webkit-transform: rotate(0) scale(1) skew(1deg);
        opacity: 0.2;
    }
    100% {
        -webkit-transform: rotate(0) scale(0.7) skew(1deg);
        opacity: 0.2;
    }
}
@keyframes quick-alo-circle-img-anim {
    0% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    10% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    20% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    30% {
        transform: rotate(-25deg) scale(1) skew(1deg);
    }
    40% {
        transform: rotate(25deg) scale(1) skew(1deg);
    }
    50% {
        transform: rotate(0) scale(1) skew(1deg);
    }
    100% {
        transform: rotate(0) scale(1) skew(1deg);
    }
}
.hotline-phone-ring {
    position: relative;
    visibility: visible;
    background-color: transparent;
    width: 110px;
    height: 110px;
    cursor: pointer;
    z-index: 11;
    transition: visibility 0.5s;
    left: 0;
    bottom: 0;
    display: block;
}
.quick-alo-ph-circle {
    top: 0;
    left: 0;
    width: 110px;
    height: 110px;
    position: absolute;
    background-color: transparent;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
    animation: quick-alo-circle-anim 1.2s infinite ease-in-out;
    transition: all 0.5s;
    transform-origin: 50% 50%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid rgba(30, 30, 30, 0.4);
    opacity: 0.1;
}

.quick-alo-ph-circle-fill {
    background: rgb(216, 32, 0, 0.7) !important;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    opacity: 0.1;
    animation: quick-alo-circle-fill-anim 2.3s infinite ease-in-out;
    transition: all 0.5s;
    transform-origin: 50% 50%;
}

.quick-alo-ph-img-circle {
    z-index: 10;
    top: 31px;
    left: 31px;
    width: 50px;
    height: 50px;
    background: #337ab7;
    opacity: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #d82000 !important;
    position: absolute;
    border-radius: 100%;
    border: 2px solid transparent;
    animation: quick-alo-circle-img-anim 1s infinite ease-in-out;
    transform-origin: 50% 50%;
}
.pps-btn-img {
    display: flex;
    transition: all 0.3s ease-in-out;
    color: #5e2e86;
    text-decoration: none;
    background-color: transparent;
}
.pps-btn-img img {
    width: 33px;
    height: 33px;
    max-width: 100%;
    vertical-align: middle;
    border-style: none;
}
.hotline-bar {
    position: absolute;
    background: #337ab7;
    height: 45px;
    white-space: nowrap;
    line-height: 40px;
    border-radius: 3px;
    padding: 0 10px;
    background-size: 100%;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    z-index: 9;
    border-radius: 50px !important;
    left: 42px;
    bottom: 31px;
    background-color: #d82000 !important;
    display: block !important;
}
.hotline-bar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-indent: 32px;
    letter-spacing: 1px;
    display: block;
    line-height: 45px;
    transition: all 0.3s ease-in-out;
    background-color: transparent;
    cursor: pointer;
}
