@font-face {
    font-family: Lora;
    src: url(Lora.ttf);
}
@font-face {
    font-family: Noto Sans;
    src: url(NotoSans-Bold.ttf);
}
@font-face {
    font-family: Noto Sans R;
    src: url(NotoSans-Regular.ttf);
}
/* @font-face {
    font-family: Arial;
    src: url(NotoSans-Regular.ttf);
} */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Lora", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
body {
    color: #222222;
    font-size: 100%;
    line-height: 1.6;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 38px;
    line-height: 50px;
    text-rendering: optimizeSpeed;
}
h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    text-rendering: optimizeSpeed;
}
h3 {
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    text-rendering: optimizeSpeed;
}
h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-rendering: optimizeSpeed;
}
h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-rendering: optimizeSpeed;
}
p {
    /* margin: 0; */
    color: #222222;
}
